parameters:
	excludePaths:
		- ./src/SmsManager/Diagnostics/Panel.php
	ignoreErrors:
		- '#Method jakubenglicky\\SmsManager\\Diagnostics\\Response::[A-Za-z]+\(\) should return [A-Za-z\<\>]+ but return statement is missing\.#'
		- '#Method jakubenglicky\\SmsManager\\Diagnostics\\Response::[A-Za-z]+\(\) should return static\(jakubenglicky\\SmsManager\\Diagnostics\\Response\) but return statement is missing\.#'
