<h1>SMS Manager</h1>
<div class="tracy-inner">
	<table>
		<tr><th>Number(s)</th><th>Message</th></tr>
		{foreach $messages as $message}
			<tr><td>{$message['numbers']}</td><td>{$message['body']}</td></tr>
		{/foreach}
	</table>
</div>